<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">The Simple Bar/beers</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  {% if route_name is defined and route_name == 'home' %} active {% endif %}" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'blonde' %} active {% endif %}" href="{{ path('blonde') }}">Blonde</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'brune' %} active {% endif %}" href="{{ path('brune') }}">Brune</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'blanche' %} active {% endif %}" href="{{ path('blanche') }}">Blanche</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'ambrée' %} active {% endif %}" href="{{ path('ambree') }}">Ambrée</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if route_name is defined and route_name == 'mentions' %} active {% endif %}" href="{{ path('mentions') }}">Mentions</a>
            </li>
        </ul>
    </div>
</nav>
