{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td>{{ beer.id }}</td>
                <td>{{ beer.name }}</td>
                <td>
                    <a href="{{ path('country', {'id': country.id}) }}">show</a>
                    <a href="{{ path('country/edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_new') }}">Create new</a>
{% endblock %}
