{% extends 'base.html.twig' %}

{% block title %}Beer index{% endblock %}

{% block body %}
    <h1>Beer index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>

            <th>Degree</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for beer in beers %}
            <tr>
                <td>{{ beer.id }}</td>
                <td>{{ beer.name }}</td>
                <td>{{ beer.description }}</td>
                <td>{{ beer.degree }}</td>
                <td>{{ beer.price }}</td>
                <td>
                    <a href="{{ path('beer', {'id': beer.id}) }}">show</a>
                    <a href="{{ path('beer/edit', {'id': beer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('beer_new') }}">Create new</a>
{% endblock %}
